* {
  color: #08F7FE;
  /* font-family: 'Roboto', sans-serif; */
}

.section_area {
  background-color: #08F7FE;
  border: 1px black solid;
  border-radius: 10px;
}

.text_area {
  background-color: #222529;
  border: 1px black solid;
  border-radius: 10px;
}

.loading {
  background-color: red;
}

.desc {
  color: black;
}

.desc_contrast {
  color: white;
}

/* .btn.btn-primary:disabled{
  
  background-color: #00ff04;
} */